In [1]:
import numpy as np
import yfinance as yf
import pandas as pd
import talib

df = yf.download("2330.TW","2024-01-01","2024-12-31")
Close = df["Close"]["2330.TW"].to_numpy()

RSI = talib.RSI(Close,timeperiod = 14)
RSI_df = pd.DataFrame(RSI,columns = ["RSI"])

Signal=[]
for i in RSI:
    if i < 30:
        Signal.append("Buy")
    elif i > 70:
        Signal.append("Sell")
    else:
        Signal.append("Hold")

RSI_df.insert(1, column="Signal", value= Signal)
RSI_df.insert(2, column="Close", value= Close)
RSI_df
#RSI_df.to_excel("HW4 - 2024_TSMC_CLose_RSI.xlsx")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

           RSI Signal        Close
0          NaN   Hold   580.415405
1          NaN   Hold   565.733704
2          NaN   Hold   567.691223
3          NaN   Hold   563.776245
4          NaN   Hold   570.627686
..         ...    ...          ...
236  56.218884   Hold  1074.989746
237  57.243765   Hold  1079.966553
238  57.243765   Hold  1079.966553
239  58.373879   Hold  1084.943359
240  58.373879   Hold  1084.943359

[241 rows x 3 columns]

In [1]:
#課堂範例

import numpy as np
import yfinance as yf
import pandas as pd
df = yf.download("^GSPC","2022-01-01")
Close = df["Close"]["^GSPC"].to_numpy()
type(Close)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

numpy.ndarray

In [82]:
#課堂範例

import talib
RSI = talib.RSI(Close,timeperiod = 14)
RSI_df = pd.DataFrame(RSI,columns = ["RSI"])
RSI_df

           RSI
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
236  56.218876
237  57.243756
238  57.243756
239  58.373869
240  58.373869

[241 rows x 1 columns]